<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.paperfly.instantjio"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts"/>
        </activity>
        <activity android:name=".contact.ContactsChooserActivity"/>
        <activity android:name=".group.GroupCreateActivity"/>
        <activity android:name=".group.GroupsChooserActivity"/>
        <activity
            android:name=".event.EventCreateActivity"
            android:label="Create new event"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".event.EventTemplateCreateActivity"
            android:label="Create new template"/>

        <activity
            android:name=".event.EventScrollingActivity"
            android:label="@string/title_activity_event_scrolling"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".group.GroupScrollingActivity"
            android:label="@string/title_activity_group_scrolling"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service android:name=".NotificationService"/>

        <receiver
            android:name=".receiver.OnBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.ReminderReceiver"/>
        <receiver android:name=".receiver.ExpiryReceiver"/>

        <activity
            android:name=".event.EventInvitedNotifyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_event_invited_notify"
            android:theme="@style/FullscreenTheme.NoActionBar"/>
        <activity
            android:name=".event.EventTemplateScrollingActivity"
            android:label="@string/title_activity_event_template_scrolling"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
